
    <div id="map"></div>
    <div class="brand">
      <h1 style="color:white;"><%= @place_name %>
            <br>
            <a href='/'><button type="button" class="btn btn-primary">Back</button></a>
    </div></h1>
    </div>

     <script>
       function initMap() {
         var directionsService = new google.maps.DirectionsService;
         var directionsDisplay = new google.maps.DirectionsRenderer;
         var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 10,
           center: {lat: <%= @lat %>, lng: <%= @lng %>}
         });
         directionsDisplay.setMap(map);
          calculateAndDisplayRoute(directionsService, directionsDisplay);
       }

       function calculateAndDisplayRoute(directionsService, directionsDisplay) {
         directionsService.route({
           origin: {lat: <%= @lat %>, lng: <%= @lng %>},
           destination: {lat: <%= @place_lat %>, lng: <%= @place_lng%>},
           travelMode: 'WALKING'
         }, function(response, status) {
           console.log(response);
           console.log(status);
           if (status === 'OK') {
             directionsDisplay.setDirections(response);
           } else {
             window.alert('Directions request failed due to ' + status);
           }
         });
       }

     </script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['JS_API_KEY'] %>&callback=initMap">
     </script>
